<div class="container">
<div class="row">
    <div class="col-xs-10">
        <app-shopping-edit></app-shopping-edit>
        <hr>
        <ul class="list-group">
            <a 
                class="list-group-item"  
                style="cursor: pointer;"
                *ngFor= "let ingredient of ingredients">

                <div class="list-group" >
                    <h4 class="list-group-heading">{{ingredient.name}}</h4>
                    <p class="list-group-text">{{ingredient.amount}}</p>
                </div>            
            </a>
        </ul>
    </div>
</div>
</div>